/* Reset some default styles for better consistency */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    position: relative;
    background-color: rgb(170, 165, 121);
    }
/* Header section styles */
header {
    display: flex;
    width: 100vmax;
    height: 1.5 vmax;
    background-color: khaki;
    justify-content:space-between;
    align-items: center;
}
header img{
    width: 1.25vmax;
}
header h3{
    font-size: 1.25vmax;
}
#language-switch select {
    font-size: 0.75vmax;
    background-color: darkkhaki;
    border-radius: 5px;
    cursor: pointer;
}
.move-weight1,.move-stand, .move-tube1, .move-thermometer{
    transform: translate(0, 0);
    transition: transform 2.5s; /* Add a transition property for smoother movement */
}
#beaker{
    top: 19.5vmax;
    left: 24.95vmax;
    width: 5vmax;
    height: 6.5vmax;
    position: absolute;
    cursor: grab;
    z-index: 1;
}
#burner{
    top: 26.25vmax;
    left: 14vmax;
    width: 15.25vmax;
    height: 6vmax;
    z-index: 4;
    position: absolute;
}
#clampstand{
    top: 12vmax;
    left: 23vmax;
    width: 7vmax;
    height: 17.5vmax;
    position: absolute;
    cursor: grab;
    z-index: 3;
}
#flame{
    top: 26vmax;
    left: 25.75vmax;
    width: 4vmax;
    position: absolute;
    z-index: 4;
}
#gauge{
    top: 24vmax;
    left: 23.5vmax;
    width: 9vmax;
    height: 2.5vmax;
    z-index: 4;
    position: absolute;
    cursor:grab
}
#lab{
    width: 100vmax;
    height: 45vmax;
}
#readings{
    top: 16.2vmax;
    left: 57.5vmax;
    width: 8.25vmax;
    height:7vmax;
    z-index: 2;
    position: absolute;
    cursor:grab;
}
#scale_{
    top: 21.25vmax;
    left: 35vmax;
    width: 7vmax;
    height: 11vmax;
    cursor: grabbing;
    position: absolute;
}
#tube_{
    top: 17vmax;
    left: 27vmax;
    width: 1.5vmax;
    height: 6.5vmax;
    position: absolute;
    cursor: grab;
    z-index: 1;
}
#sulphur{
    top: 32vmax;
    left: 5vmax;
    width: 4.5vmax;
    height: 8vmax;
    cursor: grabbing;
    position: absolute;
}
#tripod{
    top: 24.25vmax;
    left: 25.25vmax;
    width: 5vmax;
    height: 7vmax;
    z-index: 4;
    position: absolute;
    cursor:grab;
}
#thermometer{
    top: 25.5vmax;
    left: 57.5vmax;
    width: 7.5vmax;
    height:4vmax;
    z-index: 2;
    position: absolute;
    cursor:grab;
}
#water{
    top:  33vmax;
    left: 81vmax;
    height:7vmax;
    position: absolute;
}
#waterfill{
    top: 21.1vmax;
    left: 25.67vmax;
    width: 4.1vmax;
    height: 4.75vmax;
    position: absolute;
    cursor: grab;
    z-index: 4;
}
#weight{
    top: 29.75vmax;
    left: 66.25vmax;
    width: 4vmax;
    height: 1.5vmax;
    position: absolute;
    cursor: grab;
}
/* Footer section styles */
footer{
    width: 100vmax;
    display: flex;
    background-color:coral;
    align-items: center;
    justify-content: space-between;
}
#content-en {
    width: 100vmax;
    display: flex;
    position: absolute;
    background-color:coral;
    align-items: center;
    justify-content: space-between;
}
#content-hi {
    width: 100vmax;
    display: flex;
    position: absolute;
    background-color:coral;
    align-items: center;
    justify-content: space-between;
}
/* Prev and Next buttons */
button {
    background-color:silver;
    font-size: 0.85vmax;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    width: 3.5vmax;
    height: 1.5vmax;
    
}
button:hover{
    background-color:rgb(75, 73, 73);
    transform:translateY(-0.1vmax);
}
h5{
    position: relative;
    font-size: 1vmax;
    animation-name: Steps;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes Steps{
    0%{left: -100vmax;}
    100%{left: 0vmax;}
}